<div class="wrapper">

<h1><%= @nickname %>さんが、お気に入り投稿の数</h1>
      <h2>お気に入り写真の数：<%= @count %>つ</h2>
      <h3><tr>
        <td>国名</td>
        <td>枚数</td>
      <tr/><br/></h3>
      <h3><tr>
        <td>"japan"</td>
        <td>11 つ</td>
      <tr/><br/></h3>
      <h3><tr>
        <td>"China"</td>
        <td>8 つ</td>
      <tr/><br/></h3>
      <h3><tr>
        <td>"India"</td>
        <td>5 つ</td>
      <tr/><br/></h3>

  <hr />

<h1> あなた が投稿した写真 </h1>

  <hr />
    <div class="box alt">
       <div class="row 50% uniform">
    <% @uploads.each do |upload| %>
          <div class="2u">
            <span class="image fit">
              <%= image_tag upload.image.to_s %>
              <%= upload.created_at.to_s %>
          <h4><%= link_to '編集', "/uploads/#{upload.id}/edit", method: :get %></h4>
          <h4><%= link_to '削除', "/uploads/#{upload.id}", method: :delete %></h4>
            </span>
          </div>
    <% end %>
        </div>
      </div>

   <h2> <%= paginate(@uploads) %> </h2>
  </div>