<% if user_signed_in? %>
  <% if upload.like_user(current_user.id) %>
    <%= button_to upload_like_path(:id, upload_id: upload.id), method: :delete, id: "like-button", remote: true do %>
    <%= image_tag("/img/likebutton.jpg") %>
      <span>
        <%= upload.likes_count %>
      </span>
    <% end %>
  <% else %>
    <%= button_to upload_likes_path(upload), id: "like-button", remote: true do %>

      <span>
        <%= upload.likes_count %>
      </span>
    <% end %>
  <% end %>
<% else %>

    <span>
      <%= upload.likes_count %>
    </span>
<% end %>