
    <div class="3u$ 12u$(small)">
      <input type="submit" value="Search" class="fit" />
    </div>

    <div id="regions_div"></div>
    <hr />

<section id="main" class="wrapper">
<h2>photos</h2>
                 <div class="box alt">
                    <div class="row 50% uniform">
                      <!-- <div class="4u"><span class="image fit"><%= image_tag "pic01.jpg" %></span></div>
                      <div class="4u"><span class="image fit"><%= image_tag "pic01.jpg" %></span></div>
                      <div class="4u"><span class="image fit"><%= image_tag "pic01.jpg" %></span></div> -->
                      <!-- Break -->
<!--                       <div class="4u"><span class="image fit"><%= image_tag "pic01.jpg" %></span></div>
                      <div class="4u"><span class="image fit"><%= image_tag "pic01.jpg" %></span></div>
                      <div class="4u"><span class="image fit"><%= image_tag "pic01.jpg" %></span></div> -->
                      <!-- Break -->
<!--                       <div class="4u"><span class="image fit"><%= image_tag "pic01.jpg" %></span></div>
                      <div class="4u"><span class="image fit"><%= image_tag "pic01.jpg" %></span></div>
                      <div class="4u"><span class="image fit"><%= image_tag "pic01.jpg" %></span></div> -->
                    </div>
                  </div>
</section>

    <%= render partial: "upload", locals: { uploads: @uploads } %>



</div>
