<div class="contents row">
  <div class="container">


  <%= form_tag('/uploads',:method => :post, :multipart => true ) do %>
    <%= select_tag :continent, options_for_select(@continents) %>
    <%= select_tag :subcontinent, options_for_select(@subcontinents) %>
    <%= select_tag :country, options_for_select(@countries) %>
    <%= text_field :city, :id %>
    <%= file_field_tag :image %>
    <%= submit_tag 'upload' %>
  <% end %>


 </div>
</div>
