<!DOCTYPE html>
<html>
  <head>
    <title>Hatorip</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- コレがないと読み込めない -->
    <%= include_gon %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <%= javascript_include_tag 'application' ,'data-turbolinks-track' => true %>
<!-- コレがなくても読み込める -->
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZfcHVxgJkgkBJghbwE7Q5xFhhOdzc6JQ&callback=initMap"
  type="text/javascript"></script>

    <%= csrf_meta_tags %>

  </head>

  <body>


<% if user_signed_in? %>
   <header id="header">
        <nav class="left">
            <a href="/users/<%= current_user.id %>">mypage</a>
            <a class="post" href="/uploads/new">投稿する</a>
        </nav>
        <a href="/" class="logo">Hatorip</a>

        <nav class="right" >
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </nav>

    <!-- Menu -->
<% else %>
   <header id="header">
        <a href="/" class="logo">Hatorip</a>

        <nav class="right">
          <%= link_to "新規登録", new_user_registration_path, :class => 'post' %>
          <!-- <a href="#" class="button alt">Log in</a> -->
          <%= link_to "ログイン", new_user_session_path, :class => 'post' %>
        </nav>
        <hr />
        </header>
  <!-- Banner -->
      <section id="banner">
          <h1>Search, Catch, Stock</h1>
          <p>遠い土地へ、想いを寄せるサイト</p>
          <ul class="actions">
          <%= link_to "Sinn Up", new_user_registration_path, :class => 'post' %>
          <%= link_to "Log in", new_user_session_path, :class => 'post' %>
            </li>
          </ul>
      </section>

<% end %>
  </header>

  <%= yield %>


  <footer id="footer">
        <div class="inner">
          <h3>Contact Information</h3>
          <ul class="actions">
            <li><span class="icon fa-envelope"></span> <a href="#">information@xxx</a></li>
            <li><span class="icon fa-map-marker"></span> akabane tokyo japan</li>
          </ul>
        </div>
        <div class="copyright">
          &copy; Copyright <a href="/">Hatorip</a>. for Travel Search.
        </div>
  </footer>

  </body>
</html>
